<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp13App.prepagoConsumo.home.title">Prepago Consumos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prepago-consumo" [routerLink]="['/prepago-consumo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="newoApp13App.prepagoConsumo.home.createLabel">
            Create a new Prepago Consumo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'newoApp13App.prepagoConsumo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="prepagoConsumos?.length === 0">
        <span jhiTranslate="newoApp13App.prepagoConsumo.home.notFound">No prepagoConsumos found</span>
    </div>
    <div class="table-responsive" *ngIf="prepagoConsumos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aporte"><span jhiTranslate="newoApp13App.prepagoConsumo.aporte">Aporte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="saldoActual"><span jhiTranslate="newoApp13App.prepagoConsumo.saldoActual">Saldo Actual</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaRegistro"><span jhiTranslate="newoApp13App.prepagoConsumo.fechaRegistro">Fecha Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaSaldoActual"><span jhiTranslate="newoApp13App.prepagoConsumo.fechaSaldoActual">Fecha Saldo Actual</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="miembro.identificacion"><span jhiTranslate="newoApp13App.prepagoConsumo.miembro">Miembro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoPrepago.nombre"><span jhiTranslate="newoApp13App.prepagoConsumo.tipoPrepago">Tipo Prepago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let prepagoConsumo of prepagoConsumos ;trackBy: trackId">
                <td><a [routerLink]="['/prepago-consumo', prepagoConsumo.id, 'view' ]">{{prepagoConsumo.id}}</a></td>
                <td>{{prepagoConsumo.aporte}}</td>
                <td>{{prepagoConsumo.saldoActual}}</td>
                <td>{{prepagoConsumo.fechaRegistro | date:'mediumDate'}}</td>
                <td>{{prepagoConsumo.fechaSaldoActual | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="prepagoConsumo.miembro">
                        <a [routerLink]="['/miembros', prepagoConsumo.miembro?.id, 'view' ]" >{{prepagoConsumo.miembro?.identificacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="prepagoConsumo.tipoPrepago">
                        <a [routerLink]="['/tipo-prepago-consumo', prepagoConsumo.tipoPrepago?.id, 'view' ]" >{{prepagoConsumo.tipoPrepago?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prepago-consumo', prepagoConsumo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prepago-consumo', prepagoConsumo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prepago-consumo', { outlets: { popup: prepagoConsumo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
