<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp13App.consumoMarket.home.title">Consumo Markets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-consumo-market" [routerLink]="['/consumo-market/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="newoApp13App.consumoMarket.home.createLabel">
            Create a new Consumo Market
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'newoApp13App.consumoMarket.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="consumoMarkets?.length === 0">
        <span jhiTranslate="newoApp13App.consumoMarket.home.notFound">No consumoMarkets found</span>
    </div>
    <div class="table-responsive" *ngIf="consumoMarkets?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalConsumido"><span jhiTranslate="newoApp13App.consumoMarket.totalConsumido">Total Consumido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registroFechaInicial"><span jhiTranslate="newoApp13App.consumoMarket.registroFechaInicial">Registro Fecha Inicial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registroFechaFinal"><span jhiTranslate="newoApp13App.consumoMarket.registroFechaFinal">Registro Fecha Final</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="impuesto"><span jhiTranslate="newoApp13App.consumoMarket.impuesto">Impuesto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="miembro.identificacion"><span jhiTranslate="newoApp13App.consumoMarket.miembro">Miembro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let consumoMarket of consumoMarkets ;trackBy: trackId">
                <td><a [routerLink]="['/consumo-market', consumoMarket.id, 'view' ]">{{consumoMarket.id}}</a></td>
                <td>{{consumoMarket.totalConsumido}}</td>
                <td>{{consumoMarket.registroFechaInicial | date:'mediumDate'}}</td>
                <td>{{consumoMarket.registroFechaFinal | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'newoApp13App.Impuestod.' + consumoMarket.impuesto}}">{{consumoMarket.impuesto}}</td>
                <td>
                    <div *ngIf="consumoMarket.miembro">
                        <a [routerLink]="['/miembros', consumoMarket.miembro?.id, 'view' ]" >{{consumoMarket.miembro?.identificacion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/consumo-market', consumoMarket.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consumo-market', consumoMarket.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consumo-market', { outlets: { popup: consumoMarket.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
