<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="miembrosEquipoEmpresas">
            <h2><span jhiTranslate="newoApp13App.miembrosEquipoEmpresas.detail.title">Miembros Equipo Empresas</span> {{miembrosEquipoEmpresas.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp13App.miembrosEquipoEmpresas.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="miembrosEquipoEmpresas.empresa">
                        <a [routerLink]="['/empresa', miembrosEquipoEmpresas.empresa?.id, 'view']">{{miembrosEquipoEmpresas.empresa?.razonSocial}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.miembrosEquipoEmpresas.equipo">Equipo</span></dt>
                <dd>
                    <div *ngIf="miembrosEquipoEmpresas.equipo">
                        <a [routerLink]="['/equipo-empresas', miembrosEquipoEmpresas.equipo?.id, 'view']">{{miembrosEquipoEmpresas.equipo?.nombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.miembrosEquipoEmpresas.miembro">Miembro</span></dt>
                <dd>
                    <div *ngIf="miembrosEquipoEmpresas.miembro">
                        <a [routerLink]="['/miembros', miembrosEquipoEmpresas.miembro?.id, 'view']">{{miembrosEquipoEmpresas.miembro?.identificacion}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/miembros-equipo-empresas', miembrosEquipoEmpresas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
