<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp13App.tipoPrepagoConsumo.home.title">Tipo Prepago Consumos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-prepago-consumo" [routerLink]="['/tipo-prepago-consumo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="newoApp13App.tipoPrepagoConsumo.home.createLabel">
            Create a new Tipo Prepago Consumo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'newoApp13App.tipoPrepagoConsumo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="tipoPrepagoConsumos?.length === 0">
        <span jhiTranslate="newoApp13App.tipoPrepagoConsumo.home.notFound">No tipoPrepagoConsumos found</span>
    </div>
    <div class="table-responsive" *ngIf="tipoPrepagoConsumos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="newoApp13App.tipoPrepagoConsumo.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="newoApp13App.tipoPrepagoConsumo.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorMinimo"><span jhiTranslate="newoApp13App.tipoPrepagoConsumo.valorMinimo">Valor Minimo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorMaximo"><span jhiTranslate="newoApp13App.tipoPrepagoConsumo.valorMaximo">Valor Maximo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoBeneficio.tipoBeneficio"><span jhiTranslate="newoApp13App.tipoPrepagoConsumo.tipoBeneficio">Tipo Beneficio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tipoPrepagoConsumo of tipoPrepagoConsumos ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-prepago-consumo', tipoPrepagoConsumo.id, 'view' ]">{{tipoPrepagoConsumo.id}}</a></td>
                <td>{{tipoPrepagoConsumo.nombre}}</td>
                <td>{{tipoPrepagoConsumo.descripcion}}</td>
                <td>{{tipoPrepagoConsumo.valorMinimo}}</td>
                <td>{{tipoPrepagoConsumo.valorMaximo}}</td>
                <td>
                    <div *ngIf="tipoPrepagoConsumo.tipoBeneficio">
                        <a [routerLink]="['/beneficio', tipoPrepagoConsumo.tipoBeneficio?.id, 'view' ]" >{{tipoPrepagoConsumo.tipoBeneficio?.tipoBeneficio}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tipo-prepago-consumo', tipoPrepagoConsumo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-prepago-consumo', tipoPrepagoConsumo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-prepago-consumo', { outlets: { popup: tipoPrepagoConsumo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
