<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="blog">
            <h2><span jhiTranslate="newoApp13App.blog.detail.title">Blog</span> {{blog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp13App.blog.titulo">Titulo</span></dt>
                <dd>
                    <span>{{blog.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{blog.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.tipoContenido">Tipo Contenido</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp13App.Categoriad.' + blog.tipoContenido}}">{{blog.tipoContenido}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.contenido">Contenido</span></dt>
                <dd>
                    <span>{{blog.contenido}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.fecha">Fecha</span></dt>
                <dd>
                    <span>{{blog.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.audio">Audio</span></dt>
                <dd>
                    <div *ngIf="blog.audio">
                        <a (click)="openFile(blog.audioContentType, blog.audio)" jhiTranslate="entity.action.open">open</a>
                        {{blog.audioContentType}}, {{byteSize(blog.audio)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.video">Video</span></dt>
                <dd>
                    <span>{{blog.video}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.imagen1">Imagen 1</span></dt>
                <dd>
                    <div *ngIf="blog.imagen1">
                        <a (click)="openFile(blog.imagen1ContentType, blog.imagen1)">
                            <img [src]="'data:' + blog.imagen1ContentType + ';base64,' + blog.imagen1" style="max-width: 100%;" alt="blog image"/>
                        </a>
                        {{blog.imagen1ContentType}}, {{byteSize(blog.imagen1)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.imagen2">Imagen 2</span></dt>
                <dd>
                    <div *ngIf="blog.imagen2">
                        <a (click)="openFile(blog.imagen2ContentType, blog.imagen2)">
                            <img [src]="'data:' + blog.imagen2ContentType + ';base64,' + blog.imagen2" style="max-width: 100%;" alt="blog image"/>
                        </a>
                        {{blog.imagen2ContentType}}, {{byteSize(blog.imagen2)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.banner">Banner</span></dt>
                <dd>
                    <div *ngIf="blog.banner">
                        <a (click)="openFile(blog.bannerContentType, blog.banner)">
                            <img [src]="'data:' + blog.bannerContentType + ';base64,' + blog.banner" style="max-width: 100%;" alt="blog image"/>
                        </a>
                        {{blog.bannerContentType}}, {{byteSize(blog.banner)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.estadoPublicacion">Estado Publicacion</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp13App.EstadoPublicaciond.' + blog.estadoPublicacion}}">{{blog.estadoPublicacion}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.tipoConsumo">Tipo Consumo</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp13App.TipoConsumod.' + blog.tipoConsumo}}">{{blog.tipoConsumo}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.valor">Valor</span></dt>
                <dd>
                    <span>{{blog.valor}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.impuesto">Impuesto</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp13App.Impuestod.' + blog.impuesto}}">{{blog.impuesto}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.miembro">Miembro</span></dt>
                <dd>
                    <div *ngIf="blog.miembro">
                        <a [routerLink]="['/miembros', blog.miembro?.id, 'view']">{{blog.miembro?.identificacion}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.categoriaBlog">Categoria Blog</span></dt>
                <dd>
                    <div *ngIf="blog.categoriaBlog">
                        <a [routerLink]="['/categoria-contenidos', blog.categoriaBlog?.id, 'view']">{{blog.categoriaBlog?.categoria}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.blog.grupos">Grupos</span></dt>
                <dd>
                    <div *ngIf="blog.grupos">
                        <a [routerLink]="['/grupos', blog.grupos?.id, 'view']">{{blog.grupos?.nombreGrupo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/blog', blog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
