<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp13App.feed.home.title">Feeds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feed" [routerLink]="['/feed/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="newoApp13App.feed.home.createLabel">
            Create a new Feed
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'newoApp13App.feed.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="feeds?.length === 0">
        <span jhiTranslate="newoApp13App.feed.home.notFound">No feeds found</span>
    </div>
    <div class="table-responsive" *ngIf="feeds?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="titulo"><span jhiTranslate="newoApp13App.feed.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="newoApp13App.feed.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imagen1"><span jhiTranslate="newoApp13App.feed.imagen1">Imagen 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imagen2"><span jhiTranslate="newoApp13App.feed.imagen2">Imagen 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoContenido"><span jhiTranslate="newoApp13App.feed.tipoContenido">Tipo Contenido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contenido"><span jhiTranslate="newoApp13App.feed.contenido">Contenido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="newoApp13App.feed.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="miembro.identificacion"><span jhiTranslate="newoApp13App.feed.miembro">Miembro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoriaFeed.categoria"><span jhiTranslate="newoApp13App.feed.categoriaFeed">Categoria Feed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let feed of feeds ;trackBy: trackId">
                <td><a [routerLink]="['/feed', feed.id, 'view' ]">{{feed.id}}</a></td>
                <td>{{feed.titulo}}</td>
                <td>{{feed.descripcion}}</td>
                <td>
                    <a *ngIf="feed.imagen1" (click)="openFile(feed.imagen1ContentType, feed.imagen1)">
                        <img [src]="'data:' + feed.imagen1ContentType + ';base64,' + feed.imagen1" style="max-height: 30px;" alt="feed image"/>
                    </a>
                    <span *ngIf="feed.imagen1">{{feed.imagen1ContentType}}, {{byteSize(feed.imagen1)}}</span>
                </td>
                <td>
                    <a *ngIf="feed.imagen2" (click)="openFile(feed.imagen2ContentType, feed.imagen2)">
                        <img [src]="'data:' + feed.imagen2ContentType + ';base64,' + feed.imagen2" style="max-height: 30px;" alt="feed image"/>
                    </a>
                    <span *ngIf="feed.imagen2">{{feed.imagen2ContentType}}, {{byteSize(feed.imagen2)}}</span>
                </td>
                <td jhiTranslate="{{'newoApp13App.Categoriad.' + feed.tipoContenido}}">{{feed.tipoContenido}}</td>
                <td>{{feed.contenido}}</td>
                <td>{{feed.fecha | date:'medium'}}</td>
                <td>
                    <div *ngIf="feed.miembro">
                        <a [routerLink]="['/miembros', feed.miembro?.id, 'view' ]" >{{feed.miembro?.identificacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="feed.categoriaFeed">
                        <a [routerLink]="['/categoria-contenidos', feed.categoriaFeed?.id, 'view' ]" >{{feed.categoriaFeed?.categoria}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/feed', feed.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feed', feed.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feed', { outlets: { popup: feed.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
