<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-miembros-heading" jhiTranslate="newoApp13App.miembros.home.createOrEditLabel">Create or edit a Miembros</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.tipoDocumento" for="field_tipoDocumento">Tipo Documento</label>
                    <select class="form-control" name="tipoDocumento" formControlName="tipoDocumento" id="field_tipoDocumento">
                        <option value="Cedula">{{'newoApp13App.TipoDocumentod.Cedula' | translate}}</option>
                        <option value="Cedula_Extranjeria">{{'newoApp13App.TipoDocumentod.Cedula_Extranjeria' | translate}}</option>
                        <option value="Pasaporte">{{'newoApp13App.TipoDocumentod.Pasaporte' | translate}}</option>
                        <option value="Otro">{{'newoApp13App.TipoDocumentod.Otro' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipoDocumento').invalid && (editForm.get('tipoDocumento').dirty || editForm.get('tipoDocumento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoDocumento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.identificacion" for="field_identificacion">Identificacion</label>
                    <input type="number" class="form-control" name="identificacion" id="field_identificacion"
                           formControlName="identificacion"/>
                    <div *ngIf="editForm.get('identificacion').invalid && (editForm.get('identificacion').dirty || editForm.get('identificacion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identificacion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('identificacion')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                    <div class="input-group">
                        <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" ngbDatepicker  #fechaNacimientoDp="ngbDatepicker" formControlName="fechaNacimiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaNacimiento').invalid && (editForm.get('fechaNacimiento').dirty || editForm.get('fechaNacimiento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaNacimiento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.fechaRegistro" for="field_fechaRegistro">Fecha Registro</label>
                    <div class="input-group">
                        <input id="field_fechaRegistro" type="text" class="form-control" name="fechaRegistro" ngbDatepicker  #fechaRegistroDp="ngbDatepicker" formControlName="fechaRegistro"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaRegistroDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaRegistro').invalid && (editForm.get('fechaRegistro').dirty || editForm.get('fechaRegistro').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaRegistro').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.genero" for="field_genero">Genero</label>
                    <select class="form-control" name="genero" formControlName="genero" id="field_genero">
                        <option value="Masculino">{{'newoApp13App.Generod.Masculino' | translate}}</option>
                        <option value="Femenino">{{'newoApp13App.Generod.Femenino' | translate}}</option>
                        <option value="Otro">{{'newoApp13App.Generod.Otro' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('genero').invalid && (editForm.get('genero').dirty || editForm.get('genero').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('genero').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.celular" for="field_celular">Celular</label>
                    <input type="text" class="form-control" name="celular" id="field_celular"
                           formControlName="celular"/>
                    <div *ngIf="editForm.get('celular').invalid && (editForm.get('celular').dirty || editForm.get('celular').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('celular').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('celular').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 11 }">
                        This field is required to be at least 11 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('celular').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 13 }">
                        This field cannot be longer than 13 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.biografia" for="field_biografia">Biografia</label>
                    <textarea class="form-control" name="biografia" id="field_biografia"
                              formControlName="biografia"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.foto1" for="field_foto1">Foto 1</label>
                    <div>
                        <img [src]="'data:' + editForm.get('foto1ContentType').value + ';base64,' + editForm.get('foto1').value" style="max-height: 100px;" *ngIf="editForm.get('foto1').value" alt="miembros image"/>
                        <div *ngIf="editForm.get('foto1').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('foto1ContentType').value}}, {{byteSize(editForm.get('foto1').value)}}</span>
                            <button type="button" (click)="clearInputImage('foto1', 'foto1ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_foto1" (change)="setFileData($event, 'foto1', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="foto1" id="field_foto1"
                           formControlName="foto1"/>
                    <input type="hidden" class="form-control" name="foto1ContentType" id="field_foto1ContentType"
                           formControlName="foto1ContentType" />
                    <div *ngIf="editForm.get('foto1').invalid && (editForm.get('foto1').dirty || editForm.get('foto1').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('foto1').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.foto2" for="field_foto2">Foto 2</label>
                    <div>
                        <img [src]="'data:' + editForm.get('foto2ContentType').value + ';base64,' + editForm.get('foto2').value" style="max-height: 100px;" *ngIf="editForm.get('foto2').value" alt="miembros image"/>
                        <div *ngIf="editForm.get('foto2').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('foto2ContentType').value}}, {{byteSize(editForm.get('foto2').value)}}</span>
                            <button type="button" (click)="clearInputImage('foto2', 'foto2ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_foto2" (change)="setFileData($event, 'foto2', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="foto2" id="field_foto2"
                           formControlName="foto2"/>
                    <input type="hidden" class="form-control" name="foto2ContentType" id="field_foto2ContentType"
                           formControlName="foto2ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.fot3" for="field_fot3">Fot 3</label>
                    <div>
                        <img [src]="'data:' + editForm.get('fot3ContentType').value + ';base64,' + editForm.get('fot3').value" style="max-height: 100px;" *ngIf="editForm.get('fot3').value" alt="miembros image"/>
                        <div *ngIf="editForm.get('fot3').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('fot3ContentType').value}}, {{byteSize(editForm.get('fot3').value)}}</span>
                            <button type="button" (click)="clearInputImage('fot3', 'fot3ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_fot3" (change)="setFileData($event, 'fot3', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="fot3" id="field_fot3"
                           formControlName="fot3"/>
                    <input type="hidden" class="form-control" name="fot3ContentType" id="field_fot3ContentType"
                           formControlName="fot3ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.conocimientosQueDomina" for="field_conocimientosQueDomina">Conocimientos Que Domina</label>
                    <input type="text" class="form-control" name="conocimientosQueDomina" id="field_conocimientosQueDomina"
                           formControlName="conocimientosQueDomina"/>
                    <div *ngIf="editForm.get('conocimientosQueDomina').invalid && (editForm.get('conocimientosQueDomina').dirty || editForm.get('conocimientosQueDomina').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('conocimientosQueDomina').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.temasDeInteres" for="field_temasDeInteres">Temas De Interes</label>
                    <input type="text" class="form-control" name="temasDeInteres" id="field_temasDeInteres"
                           formControlName="temasDeInteres"/>
                    <div *ngIf="editForm.get('temasDeInteres').invalid && (editForm.get('temasDeInteres').dirty || editForm.get('temasDeInteres').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('temasDeInteres').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.facebook" for="field_facebook">Facebook</label>
                    <input type="text" class="form-control" name="facebook" id="field_facebook"
                           formControlName="facebook"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.instagram" for="field_instagram">Instagram</label>
                    <input type="text" class="form-control" name="instagram" id="field_instagram"
                           formControlName="instagram"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.idGoogle" for="field_idGoogle">Id Google</label>
                    <input type="text" class="form-control" name="idGoogle" id="field_idGoogle"
                           formControlName="idGoogle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.twiter" for="field_twiter">Twiter</label>
                    <input type="text" class="form-control" name="twiter" id="field_twiter"
                           formControlName="twiter"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.derechosDeCompra" for="field_derechosDeCompra">Derechos De Compra</label>
                    <input type="checkbox" class="form-control" name="derechosDeCompra" id="field_derechosDeCompra"
                           formControlName="derechosDeCompra"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.accesoIlimitado" for="field_accesoIlimitado">Acceso Ilimitado</label>
                    <input type="checkbox" class="form-control" name="accesoIlimitado" id="field_accesoIlimitado"
                           formControlName="accesoIlimitado"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.aliado" for="field_aliado">Aliado</label>
                    <input type="checkbox" class="form-control" name="aliado" id="field_aliado"
                           formControlName="aliado"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.host" for="field_host">Host</label>
                    <input type="checkbox" class="form-control" name="host" id="field_host"
                           formControlName="host"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.miembro" for="field_miembro">Miembro</label>
                    <select class="form-control" id="field_miembro" name="miembro" formControlName="miembro">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('miembro').value?.id ? editForm.get('miembro').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.nacionalidad" for="field_nacionalidad">Nacionalidad</label>
                    <select class="form-control" id="field_nacionalidad" name="nacionalidad" formControlName="nacionalidad">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paisOption.id === editForm.get('nacionalidad').value?.id ? editForm.get('nacionalidad').value : paisOption" *ngFor="let paisOption of pais; trackBy: trackPaisById">{{paisOption.nombrePais}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.miembros.sede" for="field_sede">Sede</label>
                    <select class="form-control" id="field_sede" name="sede" formControlName="sede">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sedesOption.id === editForm.get('sede').value?.id ? editForm.get('sede').value : sedesOption" *ngFor="let sedesOption of sedes; trackBy: trackSedesById">{{sedesOption.nombreSede}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
