<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="landing">
            <h2><span jhiTranslate="newoApp13App.landing.detail.title">Landing</span> {{landing.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp13App.landing.nombre">Nombre</span></dt>
                <dd>
                    <span>{{landing.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{landing.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.facilidades">Facilidades</span></dt>
                <dd>
                    <span>{{landing.facilidades}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.telefonoNegocio">Telefono Negocio</span></dt>
                <dd>
                    <span>{{landing.telefonoNegocio}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.numeroPuestos">Numero Puestos</span></dt>
                <dd>
                    <span>{{landing.numeroPuestos}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.tarifaMensual">Tarifa Mensual</span></dt>
                <dd>
                    <span>{{landing.tarifaMensual}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.impuesto">Impuesto</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp13App.Impuestod.' + landing.impuesto}}">{{landing.impuesto}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.imagen1">Imagen 1</span></dt>
                <dd>
                    <div *ngIf="landing.imagen1">
                        <a (click)="openFile(landing.imagen1ContentType, landing.imagen1)">
                            <img [src]="'data:' + landing.imagen1ContentType + ';base64,' + landing.imagen1" style="max-width: 100%;" alt="landing image"/>
                        </a>
                        {{landing.imagen1ContentType}}, {{byteSize(landing.imagen1)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.imagen2">Imagen 2</span></dt>
                <dd>
                    <div *ngIf="landing.imagen2">
                        <a (click)="openFile(landing.imagen2ContentType, landing.imagen2)">
                            <img [src]="'data:' + landing.imagen2ContentType + ';base64,' + landing.imagen2" style="max-width: 100%;" alt="landing image"/>
                        </a>
                        {{landing.imagen2ContentType}}, {{byteSize(landing.imagen2)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.imagen3">Imagen 3</span></dt>
                <dd>
                    <div *ngIf="landing.imagen3">
                        <a (click)="openFile(landing.imagen3ContentType, landing.imagen3)">
                            <img [src]="'data:' + landing.imagen3ContentType + ';base64,' + landing.imagen3" style="max-width: 100%;" alt="landing image"/>
                        </a>
                        {{landing.imagen3ContentType}}, {{byteSize(landing.imagen3)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp13App.landing.sede">Sede</span></dt>
                <dd>
                    <div *ngIf="landing.sede">
                        <a [routerLink]="['/sedes', landing.sede?.id, 'view']">{{landing.sede?.nombreSede}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/landing', landing.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
