<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp13App.equipoEmpresas.home.title">Equipo Empresas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-equipo-empresas" [routerLink]="['/equipo-empresas/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="newoApp13App.equipoEmpresas.home.createLabel">
            Create a new Equipo Empresas
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'newoApp13App.equipoEmpresas.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="equipoEmpresas?.length === 0">
        <span jhiTranslate="newoApp13App.equipoEmpresas.home.notFound">No equipoEmpresas found</span>
    </div>
    <div class="table-responsive" *ngIf="equipoEmpresas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="newoApp13App.equipoEmpresas.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefono"><span jhiTranslate="newoApp13App.equipoEmpresas.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correo"><span jhiTranslate="newoApp13App.equipoEmpresas.correo">Correo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="direccion"><span jhiTranslate="newoApp13App.equipoEmpresas.direccion">Direccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="newoApp13App.equipoEmpresas.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logo"><span jhiTranslate="newoApp13App.equipoEmpresas.logo">Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paginaWeb"><span jhiTranslate="newoApp13App.equipoEmpresas.paginaWeb">Pagina Web</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="conocimientosQueDomina"><span jhiTranslate="newoApp13App.equipoEmpresas.conocimientosQueDomina">Conocimientos Que Domina</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="temasDeInteres"><span jhiTranslate="newoApp13App.equipoEmpresas.temasDeInteres">Temas De Interes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="empresa.razonSocial"><span jhiTranslate="newoApp13App.equipoEmpresas.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let equipoEmpresas of equipoEmpresas ;trackBy: trackId">
                <td><a [routerLink]="['/equipo-empresas', equipoEmpresas.id, 'view' ]">{{equipoEmpresas.id}}</a></td>
                <td>{{equipoEmpresas.nombre}}</td>
                <td>{{equipoEmpresas.telefono}}</td>
                <td>{{equipoEmpresas.correo}}</td>
                <td>{{equipoEmpresas.direccion}}</td>
                <td>{{equipoEmpresas.descripcion}}</td>
                <td>
                    <a *ngIf="equipoEmpresas.logo" (click)="openFile(equipoEmpresas.logoContentType, equipoEmpresas.logo)">
                        <img [src]="'data:' + equipoEmpresas.logoContentType + ';base64,' + equipoEmpresas.logo" style="max-height: 30px;" alt="equipoEmpresas image"/>
                    </a>
                    <span *ngIf="equipoEmpresas.logo">{{equipoEmpresas.logoContentType}}, {{byteSize(equipoEmpresas.logo)}}</span>
                </td>
                <td>{{equipoEmpresas.paginaWeb}}</td>
                <td>{{equipoEmpresas.conocimientosQueDomina}}</td>
                <td>{{equipoEmpresas.temasDeInteres}}</td>
                <td>
                    <div *ngIf="equipoEmpresas.empresa">
                        <a [routerLink]="['/empresa', equipoEmpresas.empresa?.id, 'view' ]" >{{equipoEmpresas.empresa?.razonSocial}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/equipo-empresas', equipoEmpresas.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/equipo-empresas', equipoEmpresas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/equipo-empresas', { outlets: { popup: equipoEmpresas.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
