<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp13App.entradaInvitados.home.title">Entrada Invitados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entrada-invitados" [routerLink]="['/entrada-invitados/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="newoApp13App.entradaInvitados.home.createLabel">
            Create a new Entrada Invitados
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'newoApp13App.entradaInvitados.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="entradaInvitados?.length === 0">
        <span jhiTranslate="newoApp13App.entradaInvitados.home.notFound">No entradaInvitados found</span>
    </div>
    <div class="table-responsive" *ngIf="entradaInvitados?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registroFecha"><span jhiTranslate="newoApp13App.entradaInvitados.registroFecha">Registro Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoEntrada"><span jhiTranslate="newoApp13App.entradaInvitados.tipoEntrada">Tipo Entrada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoIngreso"><span jhiTranslate="newoApp13App.entradaInvitados.tipoIngreso">Tipo Ingreso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tiempoMaximo"><span jhiTranslate="newoApp13App.entradaInvitados.tiempoMaximo">Tiempo Maximo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="espacio.nombre"><span jhiTranslate="newoApp13App.entradaInvitados.espacio">Espacio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oficina.nombre"><span jhiTranslate="newoApp13App.entradaInvitados.oficina">Oficina</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="espacioReserva.nombre"><span jhiTranslate="newoApp13App.entradaInvitados.espacioReserva">Espacio Reserva</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invitado.identificacion"><span jhiTranslate="newoApp13App.entradaInvitados.invitado">Invitado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="miembro.identificacion"><span jhiTranslate="newoApp13App.entradaInvitados.miembro">Miembro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let entradaInvitados of entradaInvitados ;trackBy: trackId">
                <td><a [routerLink]="['/entrada-invitados', entradaInvitados.id, 'view' ]">{{entradaInvitados.id}}</a></td>
                <td>{{entradaInvitados.registroFecha | date:'medium'}}</td>
                <td jhiTranslate="{{'newoApp13App.TipoEntradad.' + entradaInvitados.tipoEntrada}}">{{entradaInvitados.tipoEntrada}}</td>
                <td jhiTranslate="{{'newoApp13App.TipoIngresod.' + entradaInvitados.tipoIngreso}}">{{entradaInvitados.tipoIngreso}}</td>
                <td>{{entradaInvitados.tiempoMaximo}}</td>
                <td>
                    <div *ngIf="entradaInvitados.espacio">
                        <a [routerLink]="['/espacio-libre', entradaInvitados.espacio?.id, 'view' ]" >{{entradaInvitados.espacio?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaInvitados.oficina">
                        <a [routerLink]="['/landing', entradaInvitados.oficina?.id, 'view' ]" >{{entradaInvitados.oficina?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaInvitados.espacioReserva">
                        <a [routerLink]="['/espacios-reserva', entradaInvitados.espacioReserva?.id, 'view' ]" >{{entradaInvitados.espacioReserva?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaInvitados.invitado">
                        <a [routerLink]="['/invitados', entradaInvitados.invitado?.id, 'view' ]" >{{entradaInvitados.invitado?.identificacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaInvitados.miembro">
                        <a [routerLink]="['/miembros', entradaInvitados.miembro?.id, 'view' ]" >{{entradaInvitados.miembro?.identificacion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/entrada-invitados', entradaInvitados.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/entrada-invitados', entradaInvitados.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/entrada-invitados', { outlets: { popup: entradaInvitados.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
