<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sedes-heading" jhiTranslate="newoApp13App.sedes.home.createOrEditLabel">Create or edit a Sedes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.nombreSede" for="field_nombreSede">Nombre Sede</label>
                    <input type="text" class="form-control" name="nombreSede" id="field_nombreSede"
                           formControlName="nombreSede"/>
                    <div *ngIf="editForm.get('nombreSede').invalid && (editForm.get('nombreSede').dirty || editForm.get('nombreSede').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreSede').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.coordenadaX" for="field_coordenadaX">Coordenada X</label>
                    <input type="number" class="form-control" name="coordenadaX" id="field_coordenadaX"
                           formControlName="coordenadaX"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.coordenadaY" for="field_coordenadaY">Coordenada Y</label>
                    <input type="number" class="form-control" name="coordenadaY" id="field_coordenadaY"
                           formControlName="coordenadaY"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                    <div *ngIf="editForm.get('direccion').invalid && (editForm.get('direccion').dirty || editForm.get('direccion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.telefonoComunidad" for="field_telefonoComunidad">Telefono Comunidad</label>
                    <input type="text" class="form-control" name="telefonoComunidad" id="field_telefonoComunidad"
                           formControlName="telefonoComunidad"/>
                    <div *ngIf="editForm.get('telefonoComunidad').invalid && (editForm.get('telefonoComunidad').dirty || editForm.get('telefonoComunidad').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoComunidad').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoComunidad').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 7 }">
                        This field is required to be at least 7 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoComunidad').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 12 }">
                        This field cannot be longer than 12 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.telefonoNegocio" for="field_telefonoNegocio">Telefono Negocio</label>
                    <input type="text" class="form-control" name="telefonoNegocio" id="field_telefonoNegocio"
                           formControlName="telefonoNegocio"/>
                    <div *ngIf="editForm.get('telefonoNegocio').invalid && (editForm.get('telefonoNegocio').dirty || editForm.get('telefonoNegocio').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoNegocio').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 7 }">
                        This field is required to be at least 7 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoNegocio').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 12 }">
                        This field cannot be longer than 12 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.descripcionSede" for="field_descripcionSede">Descripcion Sede</label>
                    <textarea class="form-control" name="descripcionSede" id="field_descripcionSede"
                              formControlName="descripcionSede"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.horario" for="field_horario">Horario</label>
                    <input type="text" class="form-control" name="horario" id="field_horario"
                           formControlName="horario"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.video" for="field_video">Video</label>
                    <input type="text" class="form-control" name="video" id="field_video"
                           formControlName="video"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.imagen1" for="field_imagen1">Imagen 1</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen1ContentType').value + ';base64,' + editForm.get('imagen1').value" style="max-height: 100px;" *ngIf="editForm.get('imagen1').value" alt="sedes image"/>
                        <div *ngIf="editForm.get('imagen1').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen1ContentType').value}}, {{byteSize(editForm.get('imagen1').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen1', 'imagen1ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen1" (change)="setFileData($event, 'imagen1', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen1" id="field_imagen1"
                           formControlName="imagen1"/>
                    <input type="hidden" class="form-control" name="imagen1ContentType" id="field_imagen1ContentType"
                           formControlName="imagen1ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.imagen2" for="field_imagen2">Imagen 2</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen2ContentType').value + ';base64,' + editForm.get('imagen2').value" style="max-height: 100px;" *ngIf="editForm.get('imagen2').value" alt="sedes image"/>
                        <div *ngIf="editForm.get('imagen2').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen2ContentType').value}}, {{byteSize(editForm.get('imagen2').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen2', 'imagen2ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen2" (change)="setFileData($event, 'imagen2', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen2" id="field_imagen2"
                           formControlName="imagen2"/>
                    <input type="hidden" class="form-control" name="imagen2ContentType" id="field_imagen2ContentType"
                           formControlName="imagen2ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.imagen3" for="field_imagen3">Imagen 3</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen3ContentType').value + ';base64,' + editForm.get('imagen3').value" style="max-height: 100px;" *ngIf="editForm.get('imagen3').value" alt="sedes image"/>
                        <div *ngIf="editForm.get('imagen3').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen3ContentType').value}}, {{byteSize(editForm.get('imagen3').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen3', 'imagen3ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen3" (change)="setFileData($event, 'imagen3', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen3" id="field_imagen3"
                           formControlName="imagen3"/>
                    <input type="hidden" class="form-control" name="imagen3ContentType" id="field_imagen3ContentType"
                           formControlName="imagen3ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.imagen4" for="field_imagen4">Imagen 4</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen4ContentType').value + ';base64,' + editForm.get('imagen4').value" style="max-height: 100px;" *ngIf="editForm.get('imagen4').value" alt="sedes image"/>
                        <div *ngIf="editForm.get('imagen4').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen4ContentType').value}}, {{byteSize(editForm.get('imagen4').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen4', 'imagen4ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen4" (change)="setFileData($event, 'imagen4', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen4" id="field_imagen4"
                           formControlName="imagen4"/>
                    <input type="hidden" class="form-control" name="imagen4ContentType" id="field_imagen4ContentType"
                           formControlName="imagen4ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.imagen5" for="field_imagen5">Imagen 5</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen5ContentType').value + ';base64,' + editForm.get('imagen5').value" style="max-height: 100px;" *ngIf="editForm.get('imagen5').value" alt="sedes image"/>
                        <div *ngIf="editForm.get('imagen5').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen5ContentType').value}}, {{byteSize(editForm.get('imagen5').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen5', 'imagen5ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen5" (change)="setFileData($event, 'imagen5', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen5" id="field_imagen5"
                           formControlName="imagen5"/>
                    <input type="hidden" class="form-control" name="imagen5ContentType" id="field_imagen5ContentType"
                           formControlName="imagen5ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.imagen6" for="field_imagen6">Imagen 6</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen6ContentType').value + ';base64,' + editForm.get('imagen6').value" style="max-height: 100px;" *ngIf="editForm.get('imagen6').value" alt="sedes image"/>
                        <div *ngIf="editForm.get('imagen6').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen6ContentType').value}}, {{byteSize(editForm.get('imagen6').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen6', 'imagen6ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen6" (change)="setFileData($event, 'imagen6', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen6" id="field_imagen6"
                           formControlName="imagen6"/>
                    <input type="hidden" class="form-control" name="imagen6ContentType" id="field_imagen6ContentType"
                           formControlName="imagen6ContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.sedes.ciudad" for="field_ciudad">Ciudad</label>
                    <select class="form-control" id="field_ciudad" name="ciudad" formControlName="ciudad">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ciudadOption.id === editForm.get('ciudad').value?.id ? editForm.get('ciudad').value : ciudadOption" *ngFor="let ciudadOption of ciudads; trackBy: trackCiudadById">{{ciudadOption.nombreCiudad}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
