<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp13App.chatsListado.home.title">Chats Listados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chats-listado" [routerLink]="['/chats-listado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="newoApp13App.chatsListado.home.createLabel">
            Create a new Chats Listado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'newoApp13App.chatsListado.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="chatsListados?.length === 0">
        <span jhiTranslate="newoApp13App.chatsListado.home.notFound">No chatsListados found</span>
    </div>
    <div class="table-responsive" *ngIf="chatsListados?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="newoApp13App.chatsListado.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatus"><span jhiTranslate="newoApp13App.chatsListado.estatus">Estatus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="count"><span jhiTranslate="newoApp13App.chatsListado.count">Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="badge"><span jhiTranslate="newoApp13App.chatsListado.badge">Badge</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="time"><span jhiTranslate="newoApp13App.chatsListado.time">Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sendTime"><span jhiTranslate="newoApp13App.chatsListado.sendTime">Send Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grupo"><span jhiTranslate="newoApp13App.chatsListado.grupo">Grupo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="propietario.identificacion"><span jhiTranslate="newoApp13App.chatsListado.propietario">Propietario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destinatario.identificacion"><span jhiTranslate="newoApp13App.chatsListado.destinatario">Destinatario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let chatsListado of chatsListados ;trackBy: trackId">
                <td><a [routerLink]="['/chats-listado', chatsListado.id, 'view' ]">{{chatsListado.id}}</a></td>
                <td>{{chatsListado.descripcion}}</td>
                <td jhiTranslate="{{'newoApp13App.Estatusd.' + chatsListado.estatus}}">{{chatsListado.estatus}}</td>
                <td>{{chatsListado.count}}</td>
                <td>{{chatsListado.badge}}</td>
                <td>{{chatsListado.time}}</td>
                <td>{{chatsListado.sendTime | date:'medium'}}</td>
                <td>{{chatsListado.grupo}}</td>
                <td>
                    <div *ngIf="chatsListado.propietario">
                        <a [routerLink]="['/miembros', chatsListado.propietario?.id, 'view' ]" >{{chatsListado.propietario?.identificacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chatsListado.destinatario">
                        <a [routerLink]="['/miembros', chatsListado.destinatario?.id, 'view' ]" >{{chatsListado.destinatario?.identificacion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chats-listado', chatsListado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chats-listado', chatsListado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chats-listado', { outlets: { popup: chatsListado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
