<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-margen-newo-productos-heading" jhiTranslate="newoApp13App.margenNewoProductos.home.createOrEditLabel">Create or edit a Margen Newo Productos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.margenNewoProductos.porcentajeMargen" for="field_porcentajeMargen">Porcentaje Margen</label>
                    <input type="number" class="form-control" name="porcentajeMargen" id="field_porcentajeMargen"
                           formControlName="porcentajeMargen"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.margenNewoProductos.producto" for="field_producto">Producto</label>
                    <select class="form-control" id="field_producto" name="producto" formControlName="producto">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productosServiciosOption.id === editForm.get('producto').value?.id ? editForm.get('producto').value : productosServiciosOption" *ngFor="let productosServiciosOption of productosservicios; trackBy: trackProductosServiciosById">{{productosServiciosOption.nombreProducto}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
