<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="margenNewoProductos">
            <h2><span jhiTranslate="newoApp13App.margenNewoProductos.detail.title">Margen Newo Productos</span> {{margenNewoProductos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp13App.margenNewoProductos.porcentajeMargen">Porcentaje Margen</span></dt>
                <dd>
                    <span>{{margenNewoProductos.porcentajeMargen}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp13App.margenNewoProductos.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="margenNewoProductos.producto">
                        <a [routerLink]="['/productos-servicios', margenNewoProductos.producto?.id, 'view']">{{margenNewoProductos.producto?.nombreProducto}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/margen-newo-productos', margenNewoProductos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
