<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-registro-facturacion-heading" jhiTranslate="newoApp13App.registroFacturacion.home.createOrEditLabel">Create or edit a Registro Facturacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.registroFacturacion.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.registroFacturacion.fechaRegistro" for="field_fechaRegistro">Fecha Registro</label>
                    <div class="d-flex">
                        <input id="field_fechaRegistro" type="datetime-local" class="form-control" name="fechaRegistro" formControlName="fechaRegistro" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.registroFacturacion.fechaFacturacion" for="field_fechaFacturacion">Fecha Facturacion</label>
                    <div class="input-group">
                        <input id="field_fechaFacturacion" type="text" class="form-control" name="fechaFacturacion" ngbDatepicker  #fechaFacturacionDp="ngbDatepicker" formControlName="fechaFacturacion"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaFacturacionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.registroFacturacion.tipoRegistro" for="field_tipoRegistro">Tipo Registro</label>
                    <select class="form-control" id="field_tipoRegistro" name="tipoRegistro" formControlName="tipoRegistro">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoRegistroCompraOption.id === editForm.get('tipoRegistro').value?.id ? editForm.get('tipoRegistro').value : tipoRegistroCompraOption" *ngFor="let tipoRegistroCompraOption of tiporegistrocompras; trackBy: trackTipoRegistroCompraById">{{tipoRegistroCompraOption.descripcion}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp13App.registroFacturacion.miembro" for="field_miembro">Miembro</label>
                    <select class="form-control" id="field_miembro" name="miembro" formControlName="miembro">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="miembrosOption.id === editForm.get('miembro').value?.id ? editForm.get('miembro').value : miembrosOption" *ngFor="let miembrosOption of miembros; trackBy: trackMiembrosById">{{miembrosOption.identificacion}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
